<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Source+Sans+3&display=swap" rel="stylesheet">
		<!-- Add icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- <img src="img/range.webp" alt="generic youtube gaming chair"> -->
		<section>
			<h2 id="ferariNext">Ferrari 488 Spider</h2>
			<h2 id="bugattiNext">Bugatti Chiron Super Sport</h2>
			<h2 id="rangeroverNext">Range Rover Sport 2023</h2>
		</section>

		<section>
			<img id="ferari"     class="hidden"	src="img/Ferrari-488-Pista-PNG-Transparent.png">
			<img id="bugatti" 	 class="hidden"	src="img/1686164624483.png">
			<img id="rangerover" class="hidden"	src="img/range.webp">
		</section>
		<section class="text">
			<p id="ferariP"  class="hidden">The 2017 Ferrari 488 Spider is a convertible supercar that boasts impressive power and performance. It features a turbocharged 3.9-liter V8 engine that produces 661 horsepower and 561 lb-ft of torque. This allows the car to go from 0 to 60 mph in just 3 seconds, with a top speed of 203 mph. The Spider also has a retractable hardtop that can be opened or closed in just 14 seconds, allowing you to enjoy the thrill of driving with the wind in your hair. Inside, the cabin is luxurious and sporty, with premium materials and advanced technology. Overall, the Ferrari 488 Spider is a stunning example of Italian engineering and design.</p> 
			<p id="bugattiP" class="hidden">The Bugatti Chiron Super Sport 300+ is a hypercar that was first introduced in 2019. It is a limited edition version of the Chiron, designed to be even faster and more powerful than the standard model. The Super Sport 300+ is powered by an 8.0-liter quad-turbocharged W16 engine that produces an incredible 1,578 horsepower and 1,180 lb-ft of torque. This allows the car to go from 0 to 60 mph in just 2.4 seconds, and reach a top speed of over 300 mph. The exterior of the car features a sleek and aerodynamic design, with a long tail that helps to reduce drag and increase speed. Inside, the cabin is luxurious and high-tech, with premium materials and advanced features. Overall, the Bugatti Chiron Super Sport 300+ is a stunning example of automotive engineering and design, and is sure to turn heads wherever it goes.</p>
			<p id="rangeroverP" class="hidden">The Range Rover Sport 2023 is a luxury SUV that combines elegance, performance, and off-road capability. It features a sleek and aerodynamic design, with a powerful and dynamic stance. The interior offers premium comfort and advanced technology, including a spacious cabin and state-of-the-art infotainment system.
			Under the hood, the Range Rover Sport 2023 offers a range of powerful engines, including petrol, diesel, and hybrid options. These engines deliver impressive performance and efficiency, allowing for a thrilling driving experience on and off the road.
			The Range Rover Sport 2023 also comes equipped with advanced safety features and driver-assistance technologies to ensure a secure and confident ride. With its legendary off-road capabilities, luxurious amenities, and cutting-edge technology, the Range Rover Sport 2023 is a standout choice for those seeking a versatile and stylish SUV.</p>
		</section>

		

			

	
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
